<style>
  h1 {
    margin-bottom: 20px; 
  }

  h2 {
    margin-top: 10px; 
  }

  p {
    margin-bottom: 10px; 
  }

  .row {
    display: flex;
    background-color: rgb(94, 188, 216);
    justify-content: space-around;
  }
</style>

  <div class="about-section">
    <h1 style="color: white;">About Us</h1>
    <p>Welcome to YouTube, a place where creativity and smooth content integration coexist. 
      Our trip started with a straightforward yet effective concept. It has to do with how you interact and use YouTube content.</p>
    <br>
    <h1 style="color: white;">Objectives</h1>
    <p>Our objective at YouTube is to use the YouTube API's capability to improve your online experience.
      We think that by fostering a more intimate relationship between content producers and consumers, 
      we can build a vibrant ecosystem that values cooperation, diversity, and creativity.</p>
  </div>

<div class="row">
  <h2 style="text-align:center">Our Team</h2>
  <div class="column">
    <div class="card">
      <img src="/assets/image1.jpg" alt="Zac" style="width:100%">
      <div class="container">
        <h2>Zac Efron</h2>
        <p class="title">CEO & Founder</p>
        <p>A company's founder and CEO are its leaders and visionaries, 
          setting the organization's course and determining its course through strategic decision-making. 
          They can motivate teams, have a strong grasp of the market, and are passionate about the goal.
        </p>
        <p>zacefron@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image2.jpg" alt="Zac" style="width:100%">
      <div class="container">
        <h2>Ariana Grande</h2>
        <p class="title">Art Director</p>
        <p>An art director oversees the project's visual components, coordinating style, aesthetics, and artistic direction.
           Together with other experts, they develop a unified visual concept that includes layouts, images, and brand objectives.
        </p>
        <p>arianagrande@gmail.com</p><br>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image3.jpg" alt="Zac" style="width:100%">
      <div class="container">
        <h2>Zayn Malik</h2>
        <p class="title">Designer</p>
        <p>A creative expert, a designer crafts visual elements to enhance aesthetics, solve issues, and convey messages. They operate in domains such as industrial design, web design, UX/UI design, and graphic design, frequently working together with stakeholders and clients.
        </p>
        <p>zaynmalik@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>
