<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <div class="text-center mx-auto mt-5" style="max-width: 350px;">
      <h1 style="margin-bottom: 20px;">Welcome to My YouTube System</h1>
      
      <div class="input-group">
        <input type="text" placeholder="Search videos..." [(ngModel)]="searchQuery" (keyup.enter)="searchVideos()" 
        class="form-control rounded-right">
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-left" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/Jvr0U2ZInoE?si=OZljytMFoLYSHQrWcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/K_qPHYHsKKo?si=wRxxMbE2M9Dse7cqcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/-ZvsGmYKhcU?si=eG7VYAD9aydTRFu6controls=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/jUNz-uTF--E?si=_xq8mkforS-dhhmncontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://youtube.com/embed/QqJY0q4hyig?si=pKYsIUff-LLf831c"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/OqEc_169ywY?si=ja5qmMFs0TDCw4Ofcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/pyi0ZfuIIvo?si=2ar3hkxG8kINgrPecontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/GzPqp1gWfe4?si=osoTUizAfvSkjpascontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/EQcJYnU5j90?si=rRb6CFJ275M5c01rcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/_LWXAPywCV4?si=_rtM7kdLnigHUnxpcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/UNVD-N92DIU?si=ZQE8-fKJ_Qv3zN8mcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/Oppxp_oPg6k?si=5jM2tFcw4WA-xqYXcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/xizg1-0JmiA?si=h86jRKq9D6-RW-Tvcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/A-LImq5aKv8?si=UQbovbYPgt0F39zFcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/Xsdlm1D-2Ms?si=PMGZx6Y0ULAS405wcontrols=1"></iframe>
          </div>
        </div>


        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/gUmE_TRdp0s?si=l6w7e5vZCzv1qXWXcontrols=1"></iframe>
          </div>
        </div>


        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/5ftM9MHSmkA?si=wFR6_0mhcxONBuR5controls=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/lsxEr4RLagg?si=hWE4R3ATOyME5gmKcontrols=1"></iframe>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/ksNkJCBbLMs?si=gxQb3MqhSGWbAUx5controls=1"></iframe>
          </div>
        </div>

      </div>
    </div>

    <footer class="text-center mt-5">
      <p>&copy; 2024 Your Company | All Rights Reserved</p>
    </footer>
  </body>
</html>
